= simple_form_for @article do |f|
	= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category"}
	= f.input :title, label: " ", placeholder: "Title"
	= f.input :content, label: " ", placeholder: "Content Here"
	= f.submit

